.container{
    display: flex;
    max-width:1100px;
    margin:10% auto;
    justify-content: space-around;

}

body{
    background-color: black;
}

h2{
    color: #FBB72E;
}

img{
    position: absolute;
    top:280px;
    left: 60px;
}

button{
    
    background-color: red;
    color: white;
    border-radius:30px;
    padding: 8px 24px 8px 24px;
   
}

input{
    border-radius: 8px;
    padding: 5px 20px;
    width: 400px;
    height: 62px;
    border: 1px;
}

select{
    border-radius: 8px;
    padding: 5px 20px; 
    width: 438px;
    height: 62px;
    border: 1px;
}

#heading{
    color:#BCD171
}

p{
    color:white
}

#logo{
    
    margin-top: -250px;
}

.list{ 
    margin-top: 70px;
    border: 4px;
    border-color:#1B2636;
}